# My Details

In [1]:
# Name : Ahbaz Memon
# Roll : PB11
# Cheat no. : Extra
# Subject : DWDM
# Task : Practicle Exam (Extra)
# Trimester : 08
# Date : 27th Jan 2021

# Libraries

In [2]:
import time # for noting times for algorithm
import numpy as np # for efficient list
import pandas as pd # for efficient tables 
from matplotlib import pyplot as plt # for visualization 
import seaborn as sns # for visualization
from mlxtend.frequent_patterns import fpgrowth # machine learning xtend tool for fp growth algorithm

# Loading data.....

In [3]:
path  = "Book.txt" # path at my PC
f = open(path, 'r') # declaring file pointer and openning file in read mode only

# Preprocessing starts...

In [4]:
data1 = [] # empty list for store collection of element of list
for line in f.readlines(): # reading line by line in every iteration
    temp = [] # empty list for store element of list
    for e in line.split(','): # iterating every element of lines in splitted ','
        if e != '' and e != '\n': # Avaiding for ' '(spaces) and '\n'(new-line)
            temp.append(e.strip()) # adding in temp
    data1.append(temp) # adding collection of temp's

In [5]:
columns = set([]) # empty set since set skip the same entries
for l in data1: # a list in data
    for e in l: # a element in list
        columns.add(e)
columns = list(columns) # convert set to list to easy iterate
columns = sorted(columns) # sort elements by alphabetical order
columns

['Aqua',
 'Avocado',
 'Bak. Banana',
 'Baked Banana',
 'Brown Chocolate',
 'Cappuccino',
 'Cappucino',
 'Chicken Nugget',
 'Coca-Cola',
 'Coffee Mix',
 'Cow Eye Egg',
 'Dark Chocolate',
 'Dutch Eggplant',
 'French Fried',
 'French Fries',
 'Fried Banana',
 'Fried Noodles',
 'Fried Rice',
 'Fried noodles',
 'Gravy Noodles',
 'Grilled Banana',
 'Kuku Bima',
 'Lemon Tea',
 'Martabak Noodles',
 'Martabalc Mie',
 'Milk',
 'Milk Tea',
 'Milo',
 'Nasi Goreng',
 'Noodle soup',
 'Noodles',
 'Nutri Sari',
 'Oranges',
 'Rice',
 'Sprite',
 'Sweet Tea',
 'Tarik Tea',
 'Teh Tarik']

In [6]:
bool_data1 = []
for l in data1: # a list in data
    temp = []
    for c in columns: # every column in columns
        if c in l: # if column is in the list
            temp.append(True) # append the value True 
        else:
            temp.append(False) # append the value False
    bool_data1.append(temp)

In [7]:
data = pd.DataFrame(bool_data1, columns = columns) # creating data frame

In [8]:
data.head()

,Aqua,Avocado,Bak. Banana,Baked Banana,Brown Chocolate,Cappuccino,Cappucino,Chicken Nugget,Coca-Cola,Coffee Mix,...,Nasi Goreng,Noodle soup,Noodles,Nutri Sari,Oranges,Rice,Sprite,Sweet Tea,Tarik Tea,Teh Tarik
0,False,False,False,False,False,False,False,True,False,False,...,False,False,False,False,False,True,False,True,False,False
1,False,False,False,True,False,True,False,False,False,False,...,False,True,False,True,False,False,True,True,False,True
2,False,False,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
3,False,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False

In [9]:
fp = fpgrowth(data, min_support = 0.15, use_colnames = True)
fp

     support                             itemsets
0   0.631579                         (Fried Rice)
1   0.473684                          (Sweet Tea)
2   0.315789                     (Dark Chocolate)
3   0.210526                               (Rice)
4   0.315789                        (Noodle soup)
5   0.263158                          (Teh Tarik)
6   0.263158                      (Fried Noodles)
7   0.210526                         (Nutri Sari)
8   0.210526                         (Cappuccino)
9   0.315789                               (Milo)
10  0.210526                               (Milk)
11  0.315789                          (Cappucino)
12  0.157895                          (Lemon Tea)
13  0.263158              (Sweet Tea, Fried Rice)
14  0.210526          (Sweet Tea, Dark Chocolate)
15  0.210526         (Fried Rice, Dark Chocolate)
16  0.157895                    (Sweet Tea, Rice)
17  0.157895            (Fried Rice, Noodle soup)
18  0.157895             (Teh Tarik, Noodle soup)
19  0.157895              (Fried Rice, Teh Tarik)
20  0.210526           (Sweet Tea, Fried Noodles)
21  0.157895          (Fried Rice, Fried Noodles)
22  0.157895              (Nutri Sari, Cappucino)
23  0.157895             (Nutri Sari, Fried Rice)
24  0.157895  (Nutri Sari, Fried Rice, Cappucino)
25  0.157895         (Cappuccino, Dark Chocolate)
26  0.157895              (Cappuccino, Sweet Tea)
27  0.157895                   (Fried Rice, Milo)
28  0.157895                   (Fried Rice, Milk)
29  0.210526              (Fried Rice, Cappucino)
30  0.157895             (Cappucino, Noodle soup)
31  0.157895              (Fried Rice, Lemon Tea)